<% unless current_user?(@user) %>
  <div id="friendship_form">
  <% if current_user.friends.include?(@user) %>
    <%= button_to "Unfriend", friendship_path(:id => @user), :method => :delete , data: { confirm: 'Are you sure you want to remove this friend?' } %>
  <% elsif current_user.pending_friends.include?(@user) %>
    <div>You already asked for friendship. Waiting for confirmation</div>
    <%= button_to "Cancel friendship request", friendship_path(:id => @user), :method => :delete , data: { confirm: 'Are you sure you want to cancel your friend request?' } %>
  <% elsif current_user.requested_friends.include?(@user) %>
    <%= button_to "Confirm friend request", accept_friendship_path(:id => @user),:method => :post%>
    <%= button_to "Deny friend request", friendship_path(:id => @user),:method => :delete,
    data: {confirm: 'Are you sure you want to deny this friend request?'} %>
  <% else %>
    <%= button_to "Add Friend", friendships_path(:id => @user), :method => :post %>
  <% end %>
  </div>
<% end %>