<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <!--<%= button_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %> -->
      <!--<%= form_for(current_user.friendships.build(friend_id: @user), :method => :post) do |f| %>
        <div><%= f.hidden_field :friend_id %></div>
        <%= f.submit "Add Friend", class: "btn btn-large btn-inverse" %>
      <% end %>-->

<h2>Friends</h2>
<% if current_user?(@user) %>
<h4>Friend Requests</h4>
<section>
  <% unless current_user.requested_friends.empty? %>
  <% current_user.requested_friends.each do |requester| %>
  <%= link_to "Accept #{requester.name}'s friend request", accept_friendship_path(requester.id), :method => :post %>
  <% end %>
  <% end %>
</section>

<ul>

  <h4>My Friends</h4>
<% for friendship in @user.friendships %>  
   <% if friendship.status == "accepted" %> 
   <li>  
      <%= h friendship.friend.name %>  
      (<%= link_to "remove", friendships_path(:id => @user), :method => :delete, data: { confirm: 'Are you sure you want to remove this friend?' } %>)  
   </li>
   <% end %>  
  <% end %>
<% else %>
<% unless Friendship.exists?(@current_user.id, @user.id) %>
  <br />
  <%= button_to "Add Friend", friendships_path(:id => @user), :method => :post %>
  
  <% end %>

<h4>Friends</h4>
<% for friendship in @user.friendships %>  
  <% if friendship.status == "accepted" %> 
   <li>  
      <%= h friendship.friend.name %> 
   </li>
   <% end %>  
  <% end %>
<% end %>
</ul>
 
    </section>
    <div>
      <h5> Interests </h5>
      <%=@user.interests%>
      <h5> Quotes </h5>
      <%=@user.quotes %>
    </div>
  </aside>

  <div class="span8">

    <h3>Wall (<%= @user.microposts.count %>)</h3>
    <% if @user.microposts.any? %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>

