<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    <section>
      <%= button_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %>
      <!--<%= form_for(current_user.friendships.build(friend_id: @user), :method => :post) do |f| %>
        <div><%= f.hidden_field :friend_id %></div>
        <%= f.submit "Add Friend", class: "btn btn-large btn-inverse" %>
      <% end %>-->
<h2>Friends</h2>
<ul>

  <% for friendship in @user.friendships %>  
   <li>  
      <%= h friendship.friend.name %>  
      (<%= link_to "remove", friendship, :method => :delete, data: { confirm: 'Are you sure you want to remove this friend?' } %>)  
   </li>  
  <% end %>
</ul>
 
    </section>
    <div>
    Interests/Quotes go here
    </div>
  </aside>

<p><%= link_to "Find Friends", users_path %></p>

  <div class="span8">

    <h3>Wall (<%= @user.microposts.count %>)</h3>
    <% if @user.microposts.any? %>
      <ol class="microposts">
        <%= render @microposts %>
      </ol>
      <%= will_paginate @microposts %>
    <% end %>
  </div>
</div>

