<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    
    <%= render 'friendship_form' if signed_in? %>
    
    <% if current_user?(@user) %>
      <h4>My Friends (<%=@user.friends.count%>)</h4>
      <% for friendship in @user.friendships %>  
        <% if friendship.status == "accepted" %> 
        <li>  
          <%= link_to friendship.friend.name, friendship.friend %>  
          (<%= link_to "remove", friendship_path(:id => friendship.friend.id ), :method => :delete , data: { confirm: 'Are you sure you want to remove this friend?' } %>)  
        </li>
      <% end %>  
    <% end %>
  <% else %>

    <h4>Friends</h4>
    <% for friendship in @user.friendships %>  
      <% if friendship.status == "accepted" %> 
       <li>  
          <%= link_to friendship.friend.name, friendship.friend %> 
       </li>
      <% end %>  
    <% end %>
  <% end %>
  <% if current_user.friends.include?(@user) || current_user?(@user) %>
    <div>
      <h5> Interests </h5>
      <%=@user.interests%>
      <h5> Quotes </h5>
      <%=@user.quotes %>
    </div>
    <% end %>
  </aside>

  <div class="span8">
    
    <% if current_user.friends.include?(@user) || current_user?(@user) %>
      <h3>Wall (<%= @user.posts.count%>)</h3>
      <section>
        <%= render 'shared/wallpost_form' %>
      </section>
    
      <% if @user.posts.any? %>
        <ol class="microposts">
         <%= render @posts %>
        </ol>
        <%= will_paginate @posts %>
      <% end %>
    <% else %>
      <h3> You must be friends to see their Wall </h3>
    <% end %>
    
    <!--
    <% if @user.microposts.any? | @user.wallposts.any? %>
      <ol class="microposts">
<<<<<<< HEAD
        <%= render @wallposts + @microposts%>
=======
         <%= render @wallposts + @microposts%>
>>>>>>> d700112ae6a5cdd2a92fe4754a24435e922e03bd
      </ol>
      <%= will_paginate @wallposts %>
      <%= will_paginate @microposts %>
    <% end %>
    -->
  </div>
</div>

