<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
    
    <%= render 'friendship_form' if signed_in? %>
    
    <div>
      <h5> Interests </h5>
      <%=@user.interests%>
      <h5> Quotes </h5>
      <%=@user.quotes %>
    </div>
  </aside>

  <div class="span8">
    <h3>Wall (<%= @user.microposts.count + @user.wallposts.count%>)</h3>
    <section>
      <%= render 'shared/wallpost_form' %>
    </section>
    <% if @user.microposts.any? | @user.wallposts.any? %>
      <ol class="microposts">
        <%= render @microposts + @wallposts%>
      </ol>
      <%= will_paginate @microposts %>
      <%= will_paginate @wallposts %>
    <% end %>
  </div>
</div>

