<% if current_user.friends.include?(feed_item.poster) || current_user.friends.include?(feed_item.posted) || current_user?(feed_item.poster) %>

<li id="<%= feed_item.id %>">
  
  <% if current_user?(feed_item.poster) %>
    <% if feed_item.poster != feed_item.posted %>
      <h5>You posted on <%= link_to feed_item.posted.name, feed_item.posted %>'s Wall</h5>
    <% else %>
      <h5>Your Status Update:</h5>
    <% end %>
    <%= link_to gravatar_for(feed_item.posted), feed_item.posted %>
    <span class="user">
      <%= link_to feed_item.posted.name, feed_item.posted %>
    </span>
    <span class="content"><%= feed_item.content %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
    </span>

    <%= link_to "delete", wallpost_path(:id => feed_item.id), method: :delete, data: { confirm: "Are you sure?" }, title: feed_item.content %>
  <% end %>
  
    <% if feed_item.poster != feed_item.posted %>

      <h5><%=feed_item.poster.name%> posted on <%=feed_item.posted.name%>'s Wall:</h5>
      
      <%= link_to gravatar_for(feed_item.poster), feed_item.poster %>
      <span class="user">
        <%= link_to feed_item.poster.name, feed_item.poster %>
      </span>
      <span class="content"><%= feed_item.content %></span>
      <span class="timestamp">
        Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
      </span>
    <% else %>
      <% if !current_user?(feed_item.Posted) %>
      <h5>Status Update:</h5>
      
      <%= link_to gravatar_for(feed_item.poster), feed_item.poster %>
        <span class="user">
          <%= link_to feed_item.poster.name, feed_item.poster %>
        </span>
        <span class="content"><%= feed_item.content %></span>
        <span class="timestamp">
          Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
        </span>
    <% end %>
    <%end %>
</li>
<% end %>