<%= form_for Wallpost.new do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Create new post..." %>
    <%= f.hidden_field :posted_id, :value => current_user.id %>
  </div>
  <%= f.submit "Post", class: "btn btn-large btn-inverse" %>
<% end %>