<%= link_to gravatar_for(current_user, size: 52), current_user %>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= link_to "view my profile", current_user %>
</span>
<span>
  <%= pluralize(current_user.microposts.count, "micropost") %>
</span>
<% @user ||= current_user %>

  <h5>Friend Requests: (<%=@user.requested_friends.count%>) </h5>
  <% current_user.requested_friends.each do |requester| %>
  <%= link_to "Accept #{requester.name}'s friend request", accept_friendship_path(requester.id), :method => :post %>
  <br>
  <%= link_to "Deny #{requester.name}'s friend request", friendship_path(
         requester.id), :method => :delete, data: { confirm: 'Are you sure you want deny?' } %>
  <% end %>
  <br>
  <br>
  
  <%= pluralize(current_user.wallposts.count, "wallpost") %>
</span>
