<%= link_to gravatar_for(current_user, size: 52), current_user %>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= link_to "view my profile", current_user %>
</span>
<span>
  <%= pluralize(current_user.posts.count, "post") %>
</span>
<br>
<% @user ||= current_user %>

  <h5>Friend Requests: (<%=@user.requested_friends.count%>) </h5>
  <ul>
  <% current_user.requested_friends.each do |requester| %>
  <li>
  	<%= link_to requester.name, requester %> ||
  	<%= link_to "Accept", accept_friendship_path(requester.id), :method => :post %> ||
  	<%= link_to "Deny", friendship_path(
         requester.id), :method => :delete, data: { confirm: 'Are you sure you want deny?' } %>
   </li>
  <% end %>
</ul>

  <h5>Pending Friend Requests: (<%=@user.pending_friends.count%>)</h5>
  <ul>
  <% current_user.pending_friends.each do |pender| %>
  <li>
  	<%= link_to pender.name, pender %> ||
  	<%= link_to "Cancel request", friendship_path(pender.id), 
  	:method => :delete, data: { confirm: 'Are you sure you want to cancel your friend request?'} %>
  	</li>
  	<% end %>
  </ul>

</span>
