<%= link_to gravatar_for(current_user, size: 52), current_user %>
<h1>
  <%= current_user.name %>
</h1>
<span>
  <%= link_to "view my profile", current_user %>
</span>
<span>
  <%= pluralize(current_user.microposts.count, "micropost") %>
</span>
<% render 'shared/stats' %>
<% @user ||= current_user %>
<h3>Friends</h3>
<div class="stats">
  <table summary="User stats">
    <tr>
      <td>
        
          <span id="friends" class="stat">
            <%=pluralize(@user.friends.count, "friend") %>
          </span>
        </a>
      </td>
      <td>
        
          <span id="pending_friends" class="stat">
            <%= pluralize(@user.pending_friends.count, "pending friend") %>
          </span>
        </a>
      </td>
      <td>
        
          <span id="requested_friends" class="stat">
            <%= pluralize(@user.requested_friends.count, "requested friend") %>
            <section>
  <% unless current_user.requested_friends.empty? %>
  <% current_user.requested_friends.each do |requester| %>
  
  <%= link_to "Accept #{requester.name}'s friend request", accept_friendship_path(requester.id), :method => :post %>

  <% end %>
  <% end %>
</section>
          </span>
        </a>
      </td>

    </tr>
  </table>
</div>